 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(technology.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box1 {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    border: 2px solid rgb(42, 7, 148);
    z-index: 10;
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(2px);
    box-shadow: -15px 17px 17px rgb(44, 1, 131);
}
.container nav{
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container img {
    align-self: start;
    border-radius: 100px;
    display: inline-block;
}

.container nav ul li {
    display: inline-block;
    padding: 0px 20px;

}

.container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: antiquewhite;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    transition: smooth;
}

.case {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.case .first {
    position: relative;
    width: 40%;
}

.case .first h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(234, 232, 228);
}

.case .first h3 {
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.case .first p {
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 50px;
}

.case .picture {
    width: 55%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.case .picture img {
    width: 480px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-image: url(technology.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    height: auto;
    width: 430px;
    border-radius: 45px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text1 h2 {
    color: rgb(245, 232, 212);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text1 h5 {
    color: rgb(241, 181, 181);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text1 p {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.service {
    background-image: url(technology.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: rgb(219, 158, 158);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: left;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(214, 135, 7);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h5 {
    color: rgb(148, 7, 7);
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: antiquewhite;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.contact {
  background-image: url(technology.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact .locate {
  background-color: transparent;
  color: rgb(254, 254, 255);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.contact .locate:hover {
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  color: black;
}

footer {
  background-image: url(technology.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  font-size: 17px;
  color: white;
  width: 500px;
  text-align: center;
  line-height: 20px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 22px 10px;
  color: black;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.5);
  transition: .7;
  border:rgb(0, 0, 0);
}

.end a {
  position: inherit;
  color: whitesmoke;
  bottom: 35px;
  font-size: 30px;
}
